automation/workflows/mvp-2-response-generator-poster.json
{
  "name": "MVP 2: Generate & Post Response",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-and-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "generate-and-post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "review_id",
              "value": "={{ $json.body.review_id }}",
              "type": "string"
            },
            {
              "name": "google_review_id",
              "value": "={{ $json.body.google_review_id }}",
              "type": "string"
            },
            {
              "name": "rating",
              "value": "={{ $json.body.rating }}",
              "type": "string"
            },
            {
              "name": "review_text",
              "value": "={{ $json.body.review_text }}",
              "type": "string"
            },
            {
              "name": "reviewer_name",
              "value": "={{ $json.body.reviewer_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 200,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a professional review response specialist for a restaurant in the Netherlands.\\n\\nA customer left this Google Maps review:\\n- Rating: {{ $json.rating }} star(s)\\n- Review: \\\"{{ $json.review_text.replace(/\\\"/g, '\\\\\\\"') }}\\\"\\n- Reviewer: {{ $json.reviewer_name }}\\n\\nWrite a warm, professional response that:\\n- Thanks {{ $json.reviewer_name }} by name\\n- Addresses specific points they mentioned\\n- Encourages them to visit again or make a reservation\\n- Is 50-100 words maximum\\n- Sounds genuinely human, not templated\\n- If the rating is low (1-2 stars), acknowledge the concern and offer to make it right\\n\\nRespond ONLY with the review response text, no quotes or labels.\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "3",
      "name": "Generate with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-header-auth",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "has_content",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4",
      "name": "AI Response OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "response_text",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5",
      "name": "Extract Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "response_text",
              "value": "Thank you for your feedback! We truly appreciate you taking the time to share your experience with us. We hope to welcome you back again soon.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6",
      "name": "Fallback Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 400],
      "notes": "Generic fallback if Claude API fails"
    },
    {
      "parameters": {
        "url": "=https://mybusiness.googleapis.com/v4/{{ $('Extract Data').item.json.google_review_id }}/reply",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "method": "PUT",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment\": {{ JSON.stringify($json.response_text) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "7",
      "name": "Post to Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "credentials": {
        "googleOAuth2Api": {
          "id": "google-oauth2",
          "name": "Google My Business OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appvashRUw01RzXY7",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Reviews",
          "mode": "list"
        },
        "id": "={{ $('Extract Data').item.json.review_id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "response_text": "={{ $json.response_text || $('Extract Response').item.json.response_text || $('Fallback Response').item.json.response_text }}",
            "response_posted": true
          }
        },
        "options": {}
      },
      "id": "8",
      "name": "Update Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1450, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-pat",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Response posted\",\n  \"review_id\": \"{{ $('Extract Data').item.json.review_id }}\"\n}",
        "options": {}
      },
      "id": "9",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Generate with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Claude": {
      "main": [
        [
          {
            "node": "AI Response OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Response OK?": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Post to Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Response": {
      "main": [
        [
          {
            "node": "Post to Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Google": {
      "main": [
        [
          {
            "node": "Update Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["mvp"],
  "versionId": "2"
}
