workflows/3-approval-handler-workflow.json
{
  "name": "3. Approval Handler (Email Digest)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "1",
      "name": "Weekly Email Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "Every Monday at 9am"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "database",
        "operation": "getAll",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Restaurants",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "AND({subscription_status}='Active', {status}='Active')"
        }
      },
      "id": "2",
      "name": "Get Active Restaurants",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex"
      },
      "id": "3",
      "name": "Loop Restaurants",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "database",
        "operation": "getAll",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Generated_Responses",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "=AND({restaurant}='{{ $json.id }}', {approval_status}='Pending')"
        }
      },
      "id": "4",
      "name": "Get Pending Responses",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "has_responses",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5",
      "name": "Has Pending Responses?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1050, 300],
      "notes": "Only send email if there are responses to approve"
    },
    {
      "parameters": {
        "jsCode": "// Build email digest HTML\nconst restaurant = $('Loop Restaurants').item.json.fields;\nconst responses = $input.all();\n\nconst restaurantName = restaurant.restaurant_name;\nconst ownerName = restaurant.owner_name;\nconst ownerEmail = restaurant.owner_email;\nconst responseCount = responses.length;\n\n// Group responses by rating\nconst by_rating = { 5: [], 4: [], 3: [], 2: [], 1: [] };\nfor (const resp of responses) {\n  const review = resp.json.fields.review; // Linked review\n  const rating = parseInt(review?.star_rating?.replace(' Stars', '') || '3');\n  by_rating[rating].push(resp);\n}\n\n// Generate approval links (unique tokens)\nconst crypto = require('crypto');\nconst approval_links = responses.map(r => ({\n  response_id: r.json.id,\n  token: crypto.randomBytes(16).toString('hex'),\n  expires: new Date(Date.now() + 72 * 60 * 60 * 1000).toISOString() // 72 hours\n}));\n\n// Build HTML email body\nlet emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 700px; margin: 0 auto; }\n    .header { background: #4285f4; color: white; padding: 20px; text-align: center; }\n    .summary { background: #f8f9fa; padding: 15px; margin: 20px 0; border-radius: 8px; }\n    .review-block { border: 1px solid #ddd; margin: 15px 0; padding: 15px; border-radius: 8px; }\n    .stars { color: #ffa500; font-size: 18px; }\n    .response-box { background: #e8f4fd; padding: 12px; margin: 10px 0; border-left: 4px solid #4285f4; }\n    .button { display: inline-block; padding: 10px 20px; margin: 5px; text-decoration: none; border-radius: 4px; font-weight: bold; }\n    .approve { background: #0d7377; color: white; }\n    .edit { background: #ffa500; color: white; }\n    .reject { background: #d32f2f; color: white; }\n    .footer { text-align: center; color: #666; font-size: 12px; margin-top: 30px; padding: 20px; border-top: 1px solid #ddd; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>📊 ${restaurantName}</h1>\n    <h2>${responseCount} Review Response${responseCount !== 1 ? 's' : ''} Ready for Approval</h2>\n  </div>\n  \n  <p>Hi ${ownerName},</p>\n  <p>Your weekly review summary is here! We've generated responses for ${responseCount} new review${responseCount !== 1 ? 's' : ''} this week.</p>\n  \n  <div class=\"summary\">\n    <h3>📊 THIS WEEK'S SUMMARY</h3>\n    <p><strong>Reviews:</strong> ${responseCount} new</p>\n    ${Object.entries(by_rating).reverse().map(([rating, items]) => \n      items.length > 0 ? `<p>⭐`.repeat(rating) + ` ${rating} star${rating !== '1' ? 's' : ''}: ${items.length} review${items.length !== 1 ? 's' : ''}</p>` : ''\n    ).join('')}\n    <p><strong>Deadline:</strong> ${new Date(Date.now() + 72 * 60 * 60 * 1000).toLocaleDateString()} (72 hours)</p>\n  </div>\n  \n  <hr/>\n`;\n\n// Add each review and response\nlet reviewNum = 1;\nfor (const resp of responses) {\n  const review_data = resp.json.fields.review || {};\n  const rating = parseInt(review_data.star_rating?.replace(' Stars', '') || '3');\n  const stars = '⭐'.repeat(rating);\n  const reviewer = review_data.reviewer_name || 'Anonymous';\n  const review_text = review_data.review_text || 'No comment';\n  const response_text = resp.json.fields.generated_text;\n  const response_id = resp.json.id;\n  \n  // Get approval token for this response\n  const token = approval_links.find(l => l.response_id === response_id)?.token;\n  \n  emailHtml += `\n  <div class=\"review-block\">\n    <h3>Review #${reviewNum} - <span class=\"stars\">${stars}</span> by ${reviewer}</h3>\n    <p><em>\"${review_text.substring(0, 200)}${review_text.length > 200 ? '...' : ''}\"</em></p>\n    \n    <div class=\"response-box\">\n      <strong>📝 AI Response:</strong><br/>\n      ${response_text}\n    </div>\n    \n    <div style=\"text-align: center; margin-top: 15px;\">\n      <a href=\"http://YOUR_N8N_INSTANCE/webhook/approve-response?token=${token}&action=approve\" class=\"button approve\">✅ Approve</a>\n      <a href=\"http://YOUR_N8N_INSTANCE/webhook/approve-response?token=${token}&action=edit\" class=\"button edit\">✏️ Edit</a>\n      <a href=\"http://YOUR_N8N_INSTANCE/webhook/approve-response?token=${token}&action=reject\" class=\"button reject\">❌ Reject</a>\n    </div>\n  </div>\n  <hr/>\n  `;\n  \n  reviewNum++;\n}\n\nemailHtml += `\n  <div style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"http://YOUR_N8N_INSTANCE/webhook/approve-all?restaurant=${restaurant.id}\" class=\"button approve\" style=\"font-size: 18px; padding: 15px 30px;\">✅ Approve All ${responseCount} Responses</a>\n  </div>\n  \n  <div class=\"footer\">\n    <p>⏰ You have 72 hours to approve these responses. After that, they'll be cancelled.</p>\n    <p>Questions? <a href=\"mailto:support@yourapp.com\">Contact Support</a> | <a href=\"http://YOUR_DASHBOARD_URL\">View Dashboard</a></p>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    to: ownerEmail,\n    subject: `${restaurantName} - ${responseCount} Review Response${responseCount !== 1 ? 's' : ''} Ready for Approval`,\n    html: emailHtml,\n    approval_links: approval_links,\n    restaurant_id: restaurant.id,\n    restaurant_name: restaurantName\n  }\n}];"
      },
      "id": "6",
      "name": "Build Email Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourapp.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "7",
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1450, 300],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIALS",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Approval_Emails",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "restaurant": "={{ $json.restaurant_id }}",
            "email_type": "Weekly Digest",
            "sent_at": "={{ $now.toISO() }}",
            "recipient_email": "={{ $json.to }}",
            "subject_line": "={{ $json.subject }}",
            "response_count_included": "={{ $json.approval_links.length }}",
            "delivery_status": "Delivered",
            "approval_deadline": "={{ new Date(Date.now() + 72 * 60 * 60 * 1000).toISOString() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "8",
      "name": "Log Email Sent",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1650, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Approval_Tokens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $item(0).$json.approval_links[$index].token }}",
            "response_id": "={{ $item(0).$json.approval_links[$index].response_id }}",
            "restaurant_id": "={{ $json.restaurant_id }}",
            "expires_at": "={{ $item(0).$json.approval_links[$index].expires }}",
            "used": false
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {
          "bulkSize": 10
        }
      },
      "id": "9",
      "name": "Store Approval Tokens",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1650, 450],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      },
      "notes": "Stores tokens for validation when user clicks approve/edit/reject"
    }
  ],
  "connections": {
    "Weekly Email Trigger": {
      "main": [
        [
          {
            "node": "Get Active Restaurants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Restaurants": {
      "main": [
        [
          {
            "node": "Loop Restaurants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Restaurants": {
      "main": [
        [
          {
            "node": "Get Pending Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Responses": {
      "main": [
        [
          {
            "node": "Has Pending Responses?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Responses?": {
      "main": [
        [
          {
            "node": "Build Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Digest": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Digest": {
      "main": [
        [
          {
            "node": "Log Email Sent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Approval Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-27T00:00:00.000Z",
  "versionId": "1"
}
