workflows/4-post-scheduler-workflow.json
{
  "name": "4. Post Scheduler (Hourly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Hourly Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "Every hour on the hour"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "database",
        "operation": "getAll",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Generated_Responses",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "AND({approval_status}='Approved', {post_status}='Queued', {scheduled_post_time} <= NOW())"
        }
      },
      "id": "2",
      "name": "Get Responses Ready to Post",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      },
      "notes": "Approved responses where scheduled time has passed"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex"
      },
      "id": "3",
      "name": "Loop Each Response",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Restaurants",
          "mode": "list"
        },
        "id": "={{ $json.fields.restaurant }}"
      },
      "id": "4",
      "name": "Get Restaurant OAuth",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Reviews",
          "mode": "list"
        },
        "id": "={{ $('Loop Each Response').item.json.fields.review }}"
      },
      "id": "5",
      "name": "Get Review Details",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 450],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      },
      "id": "6",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1050, 375]
    },
    {
      "parameters": {
        "jsCode": "// Check if current time is within business hours (9am-8pm local)\nconst restaurant = $('Get Restaurant OAuth').item.json.fields;\nconst timezone = restaurant.timezone || 'America/New_York';\n\n// Get current hour in restaurant's timezone\nconst now = new Date();\nconst formatter = new Intl.DateTimeFormat('en-US', {\n  timeZone: timezone,\n  hour: 'numeric',\n  hour12: false\n});\nconst currentHour = parseInt(formatter.format(now));\n\n// Business hours: 9am to 8pm\nconst isBusinessHours = currentHour >= 9 && currentHour < 20;\n\nreturn [{\n  json: {\n    ...restaurant,\n    isBusinessHours,\n    currentHour,\n    timezone\n  }\n}];"
      },
      "id": "7",
      "name": "Check Business Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 375]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "is_business_hours",
              "leftValue": "={{ $json.isBusinessHours }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8",
      "name": "Is Business Hours?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1450, 375],
      "notes": "Only post during 9am-8pm local time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "={{ $('Loop Each Response').item.json.fields.edited_text || $('Loop Each Response').item.json.fields.generated_text }}",
              "type": "string"
            },
            {
              "id": "google_review_id",
              "name": "google_review_id",
              "value": "={{ $('Get Review Details').item.json.fields.google_review_id }}",
              "type": "string"
            },
            {
              "id": "google_location_id",
              "name": "google_location_id",
              "value": "={{ $('Check Business Hours').item.json.google_business_profile_id }}",
              "type": "string"
            },
            {
              "id": "response_id",
              "name": "response_id",
              "value": "={{ $('Loop Each Response').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9",
      "name": "Prepare Post Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1650, 375]
    },
    {
      "parameters": {
        "url": "=https://mybusinessbusinessinformation.googleapis.com/v1/{{ $json.google_review_id }}/reply",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "method": "PUT",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "={{ $json.response_text }}"
            }
          ]
        },
        "options": {
          "retry": {
            "enabled": true,
            "maxRetries": 3,
            "waitBetweenRetries": 60000
          }
        }
      },
      "id": "10",
      "name": "Post Response to Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 375],
      "credentials": {
        "googleOAuth2Api": {
          "id": "YOUR_GOOGLE_OAUTH_CREDENTIALS",
          "name": "Google OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Generated_Responses",
          "mode": "list"
        },
        "id": "={{ $('Prepare Post Data').item.json.response_id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_status": "Posted",
            "posted_at": "={{ $now.toISO() }}",
            "google_response_id": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "11",
      "name": "Update Response Status - Success",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [2050, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Reviews",
          "mode": "list"
        },
        "id": "={{ $('Get Review Details').item.json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "response_posted": true,
            "is_answered": true
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "12",
      "name": "Update Review Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [2050, 450],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "API_Usage_Logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "restaurant": "={{ $('Get Restaurant OAuth').item.json.id }}",
            "api_endpoint": "post_response",
            "request_timestamp": "={{ $now.toISO() }}",
            "response_status_code": "200",
            "success": true
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "13",
      "name": "Log Success",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [2250, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Generated_Responses",
          "mode": "list"
        },
        "id": "={{ $('Prepare Post Data').item.json.response_id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_status": "Failed",
            "post_error": "={{ $json.error.message }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "14",
      "name": "Update Response Status - Failed",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [2050, 600],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      },
      "notes": "Connected to Post Response to Google error output"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "API_Usage_Logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "restaurant": "={{ $('Get Restaurant OAuth').item.json.id }}",
            "api_endpoint": "post_response",
            "request_timestamp": "={{ $now.toISO() }}",
            "response_status_code": "={{ $json.error.code || 500 }}",
            "success": false,
            "error_message": "={{ $json.error.message }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "15",
      "name": "Log Error",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [2250, 600],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      }
    }
  ],
  "connections": {
    "Hourly Check": {
      "main": [
        [
          {
            "node": "Get Responses Ready to Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Responses Ready to Post": {
      "main": [
        [
          {
            "node": "Loop Each Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Response": {
      "main": [
        [
          {
            "node": "Get Restaurant OAuth",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Review Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Restaurant OAuth": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Review Details": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Check Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Business Hours": {
      "main": [
        [
          {
            "node": "Is Business Hours?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Business Hours?": {
      "main": [
        [
          {
            "node": "Prepare Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Post Data": {
      "main": [
        [
          {
            "node": "Post Response to Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Response to Google": {
      "main": [
        [
          {
            "node": "Update Response Status - Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Review Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Response Status - Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Response Status - Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Response Status - Failed": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-27T00:00:00.000Z",
  "versionId": "1"
}
