workflows/mvp-2-response-generator-poster.json
{
  "name": "MVP 2: Generate & Post Response",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-and-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "generate-and-post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "review_id",
              "value": "={{ $json.body.review_id }}",
              "type": "string"
            },
            {
              "name": "google_review_id",
              "value": "={{ $json.body.google_review_id }}",
              "type": "string"
            },
            {
              "name": "rating",
              "value": "={{ $json.body.rating }}",
              "type": "string"
            },
            {
              "name": "review_text",
              "value": "={{ $json.body.review_text }}",
              "type": "string"
            },
            {
              "name": "reviewer_name",
              "value": "={{ $json.body.reviewer_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 200,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are responding to a Google Maps review for a restaurant.\\n\\nReview:\\n- Rating: {{ $json.rating }}\\n- Text: \\\"{{ $json.review_text }}\\\"\\n- Reviewer: {{ $json.reviewer_name }}\\n\\nWrite a professional, friendly response that:\\n- Thanks the customer\\n- Addresses specific points they mentioned\\n- Is 50-100 words\\n- Sounds human, not robotic\\n\\nResponse:\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "3",
      "name": "Generate with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-claude",
          "name": "Anthropic Claude API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "response_text",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Extract Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "=https://mybusinessbusinessinformation.googleapis.com/v1/{{ $('Extract Data').item.json.google_review_id }}/reply",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "method": "PUT",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment\": \"{{ $json.response_text }}\"\n}",
        "options": {}
      },
      "id": "5",
      "name": "Post to Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "credentials": {
        "googleOAuth2Api": {
          "id": "google-oauth2",
          "name": "Google My Business OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appvashRUw01RzXY7",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Reviews",
          "mode": "list"
        },
        "id": "={{ $('Extract Data').item.json.review_id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "response_text": "={{ $('Extract Response').item.json.response_text }}",
            "response_posted": true
          }
        },
        "options": {}
      },
      "id": "6",
      "name": "Update Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1250, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-pat",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Response posted\" } }}",
        "options": {}
      },
      "id": "7",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Generate with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Claude": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Post to Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Google": {
      "main": [
        [
          {
            "node": "Update Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["mvp"],
  "versionId": "1"
}
