workflows/mvp-1-review-monitor.json
{
  "name": "MVP 1: Review Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "1",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "Every Monday at 9am"
    },
    {
      "parameters": {
        "url": "https://mybusinessbusinessinformation.googleapis.com/v1/accounts/YOUR_ACCOUNT_ID/locations/YOUR_LOCATION_ID/reviews",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pageSize",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Fetch Reviews from Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "googleOAuth2Api": {
          "id": "YOUR_GOOGLE_OAUTH_CREDENTIALS",
          "name": "Google OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "no_reply",
              "leftValue": "={{ $json.reviewReply }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3",
      "name": "Filter Unanswered",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Reviews",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "google_review_id": "={{ $json.name }}",
            "reviewer_name": "={{ $json.reviewer.displayName }}",
            "rating": "={{ $json.starRating }}",
            "review_text": "={{ $json.comment }}",
            "review_date": "={{ $json.createTime }}",
            "response_posted": false
          }
        },
        "options": {}
      },
      "id": "4",
      "name": "Store in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "url": "YOUR_N8N_INSTANCE/webhook/generate-and-post",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "review_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "google_review_id",
              "value": "={{ $json.fields.google_review_id }}"
            },
            {
              "name": "rating",
              "value": "={{ $json.fields.rating }}"
            },
            {
              "name": "review_text",
              "value": "={{ $json.fields.review_text }}"
            },
            {
              "name": "reviewer_name",
              "value": "={{ $json.fields.reviewer_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5",
      "name": "Trigger Response Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Fetch Reviews from Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reviews from Google": {
      "main": [
        [
          {
            "node": "Filter Unanswered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unanswered": {
      "main": [
        [
          {
            "node": "Store in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Airtable": {
      "main": [
        [
          {
            "node": "Trigger Response Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["mvp"],
  "versionId": "1"
}
