workflows/archived/0-onboarding-workflow.json
{
  "name": "6. Onboarding Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboard-restaurant",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook: New Restaurant Signup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "onboard-restaurant",
      "notes": "Receives signup data from landing page or onboarding form"
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract onboarding data\nconst data = $input.first().json.body;\n\n// Required fields validation\nconst required = ['restaurant_name', 'owner_name', 'owner_email', 'tier', 'timezone'];\nconst missing = required.filter(field => !data[field]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Validate tier\nif (!['Starter', 'Pro'].includes(data.tier)) {\n  throw new Error('Invalid tier. Must be \"Starter\" or \"Pro\"');\n}\n\n// Validate email format\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(data.owner_email)) {\n  throw new Error('Invalid email format');\n}\n\n// Generate unique restaurant ID\nconst crypto = require('crypto');\nconst restaurantId = `rest_${crypto.randomBytes(8).toString('hex')}`;\n\n// Prepare restaurant data\nreturn [{\n  json: {\n    restaurant_id: restaurantId,\n    restaurant_name: data.restaurant_name,\n    owner_name: data.owner_name,\n    owner_email: data.owner_email,\n    phone_number: data.phone_number || null,\n    address: data.address || null,\n    timezone: data.timezone || 'America/New_York',\n    tier: data.tier,\n    \n    // Brand voice data (if Pro)\n    brand_voice: data.tier === 'Pro' ? {\n      personality: data.personality || 'Professional',\n      tone: data.tone || 'Professional but Warm',\n      emoji_usage: data.emoji_usage || 'Rarely',\n      self_reference: data.self_reference || 'We',\n      owner_name_for_responses: data.owner_name_for_responses || null,\n      response_length_preference: data.response_length_preference || 'Moderate',\n      signature_phrases: data.signature_phrases || [],\n      prohibited_words: data.prohibited_words || [],\n      policies_to_mention: data.policies_to_mention || {},\n      contact_info_for_complaints: data.contact_info_for_complaints || null,\n      example_responses: data.example_responses || []\n    } : null,\n    \n    // Onboarding metadata\n    onboarding_step: 'google_oauth',\n    created_at: new Date().toISOString(),\n    status: 'Onboarding'\n  }\n}];"
      },
      "id": "2",
      "name": "Validate & Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "oauth_url",
              "name": "oauth_url",
              "value": "=https://accounts.google.com/o/oauth2/v2/auth?client_id=YOUR_GOOGLE_CLIENT_ID&redirect_uri=http://YOUR_N8N_INSTANCE/webhook/google-oauth-callback&response_type=code&scope=https://www.googleapis.com/auth/business.manage&access_type=offline&state={{ $json.restaurant_id }}&prompt=consent",
              "type": "string"
            },
            {
              "id": "restaurant_id",
              "name": "restaurant_id",
              "value": "={{ $json.restaurant_id }}",
              "type": "string"
            },
            {
              "id": "restaurant_name",
              "name": "restaurant_name",
              "value": "={{ $json.restaurant_name }}",
              "type": "string"
            },
            {
              "id": "owner_email",
              "name": "owner_email",
              "value": "={{ $json.owner_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Generate Google OAuth URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 400],
      "notes": "Creates OAuth URL with restaurant_id as state parameter"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Restaurants",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "restaurant_id": "={{ $('Validate & Prepare Data').item.json.restaurant_id }}",
            "restaurant_name": "={{ $('Validate & Prepare Data').item.json.restaurant_name }}",
            "owner_name": "={{ $('Validate & Prepare Data').item.json.owner_name }}",
            "owner_email": "={{ $('Validate & Prepare Data').item.json.owner_email }}",
            "phone_number": "={{ $('Validate & Prepare Data').item.json.phone_number }}",
            "address": "={{ $('Validate & Prepare Data').item.json.address }}",
            "timezone": "={{ $('Validate & Prepare Data').item.json.timezone }}",
            "tier": "={{ $('Validate & Prepare Data').item.json.tier }}",
            "subscription_status": "Onboarding",
            "status": "Onboarding",
            "created_at": "={{ $('Validate & Prepare Data').item.json.created_at }}",
            "monthly_response_limit": "={{ $('Validate & Prepare Data').item.json.tier === 'Pro' ? 300 : 100 }}",
            "monthly_response_count": 0
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "4",
      "name": "Create Restaurant Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 400],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      },
      "notes": "Creates initial restaurant record in Airtable"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "is_pro",
              "leftValue": "={{ $('Validate & Prepare Data').item.json.tier }}",
              "rightValue": "Pro",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5",
      "name": "Is Pro Tier?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1050, 400],
      "notes": "Only Pro tier gets brand voice profile"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Brand_Voice_Profiles",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "restaurant": "={{ $('Create Restaurant Record').item.json.id }}",
            "personality": "={{ $('Validate & Prepare Data').item.json.brand_voice.personality }}",
            "tone": "={{ $('Validate & Prepare Data').item.json.brand_voice.tone }}",
            "emoji_usage": "={{ $('Validate & Prepare Data').item.json.brand_voice.emoji_usage }}",
            "self_reference": "={{ $('Validate & Prepare Data').item.json.brand_voice.self_reference }}",
            "owner_name_for_responses": "={{ $('Validate & Prepare Data').item.json.brand_voice.owner_name_for_responses }}",
            "response_length_preference": "={{ $('Validate & Prepare Data').item.json.brand_voice.response_length_preference }}",
            "signature_phrases": "={{ JSON.stringify($('Validate & Prepare Data').item.json.brand_voice.signature_phrases) }}",
            "prohibited_words": "={{ JSON.stringify($('Validate & Prepare Data').item.json.brand_voice.prohibited_words) }}",
            "policies_to_mention": "={{ JSON.stringify($('Validate & Prepare Data').item.json.brand_voice.policies_to_mention) }}",
            "contact_info_for_complaints": "={{ $('Validate & Prepare Data').item.json.brand_voice.contact_info_for_complaints }}",
            "example_responses": "={{ JSON.stringify($('Validate & Prepare Data').item.json.brand_voice.example_responses) }}",
            "created_at": "={{ $now.toISO() }}",
            "last_updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "6",
      "name": "Create Brand Voice Profile",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1250, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      },
      "notes": "Only for Pro tier customers"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      },
      "id": "7",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1450, 400],
      "notes": "Combines Pro (with voice) and Starter (without) paths"
    },
    {
      "parameters": {
        "jsCode": "// Generate onboarding confirmation email HTML\nconst restaurant = $('Validate & Prepare Data').item.json;\nconst oauthUrl = $('Generate Google OAuth URL').item.json.oauth_url;\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; }\n    .header { background: #4285f4; color: white; padding: 30px; text-align: center; }\n    .content { padding: 30px; background: #f8f9fa; }\n    .step { background: white; padding: 20px; margin: 20px 0; border-radius: 8px; border-left: 4px solid #4285f4; }\n    .button { display: inline-block; padding: 15px 30px; background: #4285f4; color: white; text-decoration: none; border-radius: 4px; font-weight: bold; margin: 15px 0; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; }\n    .checkmark { color: #0d7377; font-size: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>🎉 Welcome to Restaurant Review AI!</h1>\n    <p>You're almost ready to automate your review responses</p>\n  </div>\n  \n  <div class=\"content\">\n    <p>Hi ${restaurant.owner_name},</p>\n    \n    <p>Thank you for signing up <strong>${restaurant.restaurant_name}</strong> for the <strong>${restaurant.tier} Pack</strong>! You're taking the first step toward better Google ratings.</p>\n    \n    <div class=\"step\">\n      <h3><span class=\"checkmark\">✅</span> Step 1: Account Created</h3>\n      <p>Your account is set up and ready to go!</p>\n      <ul>\n        <li><strong>Restaurant:</strong> ${restaurant.restaurant_name}</li>\n        <li><strong>Tier:</strong> ${restaurant.tier} Pack (${restaurant.tier === 'Pro' ? '$299' : '$149'}/month)</li>\n        <li><strong>Response Limit:</strong> ${restaurant.tier === 'Pro' ? '300' : '100'} responses/month</li>\n        ${restaurant.tier === 'Pro' ? '<li><strong>Brand Voice:</strong> Custom voice profile created ✨</li>' : ''}\n      </ul>\n    </div>\n    \n    <div class=\"step\">\n      <h3>📍 Step 2: Connect Your Google Business Profile</h3>\n      <p>Click the button below to grant access to your Google Business Profile. This allows us to:</p>\n      <ul>\n        <li>✓ Fetch new reviews automatically</li>\n        <li>✓ Post responses on your behalf</li>\n        <li>✓ Monitor your rating trends</li>\n      </ul>\n      \n      <div style=\"text-align: center;\">\n        <a href=\"${oauthUrl}\" class=\"button\">🔗 Connect Google Business Profile</a>\n      </div>\n      \n      <p style=\"font-size: 12px; color: #666; margin-top: 15px;\">\n        <strong>Important:</strong> You need <strong>Manager-level access</strong> to your Google Business Profile. If you're the owner, you already have this!\n      </p>\n    </div>\n    \n    <div class=\"step\">\n      <h3>⏰ What Happens Next?</h3>\n      <ol>\n        <li>You'll authorize access to your Google Business Profile</li>\n        <li>We'll fetch your historical reviews and generate sample responses</li>\n        <li>You'll receive an email digest every Monday with responses to approve</li>\n        <li>Approved responses will post automatically during business hours</li>\n        <li>Watch your rating improve! 📈</li>\n      </ol>\n    </div>\n    \n    ${restaurant.tier === 'Pro' ? `\n    <div class=\"step\">\n      <h3>✨ Pro Pack Benefits</h3>\n      <p>Your custom brand voice is ready! Here's what makes your responses unique:</p>\n      <ul>\n        <li><strong>Personality:</strong> ${restaurant.brand_voice?.personality}</li>\n        <li><strong>Tone:</strong> ${restaurant.brand_voice?.tone}</li>\n        <li><strong>Emoji Usage:</strong> ${restaurant.brand_voice?.emoji_usage}</li>\n        <li><strong>Self-Reference:</strong> ${restaurant.brand_voice?.self_reference}</li>\n      </ul>\n    </div>\n    ` : ''}\n    \n    <div class=\"step\">\n      <h3>💡 Quick Tips</h3>\n      <ul>\n        <li>✓ Responses are generated weekly (every Monday)</li>\n        <li>✓ You have 72 hours to approve, edit, or reject</li>\n        <li>✓ Responses post during business hours (9am-8pm)</li>\n        <li>✓ Check your analytics dashboard for rating trends</li>\n      </ul>\n    </div>\n  </div>\n  \n  <div class=\"footer\">\n    <p><strong>Need help?</strong> Reply to this email or visit our help center.</p>\n    <p>Restaurant Review AI | Making 5-star service easy</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    to: restaurant.owner_email,\n    subject: `Welcome to Restaurant Review AI - ${restaurant.tier} Pack! 🎉`,\n    html: emailHtml,\n    restaurant_name: restaurant.restaurant_name,\n    oauth_url: oauthUrl\n  }\n}];"
      },
      "id": "8",
      "name": "Build Welcome Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "fromEmail": "welcome@yourapp.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "9",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1850, 400],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIALS",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Onboarding initiated successfully\",\n  \"restaurant_id\": $('Validate & Prepare Data').item.json.restaurant_id,\n  \"restaurant_name\": $('Validate & Prepare Data').item.json.restaurant_name,\n  \"next_step\": \"Check your email for Google Business Profile connection\",\n  \"oauth_url\": $('Generate Google OAuth URL').item.json.oauth_url\n} }}",
        "options": {}
      },
      "id": "10",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": $json.message || \"Onboarding failed\",\n  \"message\": \"Please check your input and try again\"\n} }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "11",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [450, 550],
      "notes": "Handles validation errors"
    }
  ],
  "connections": {
    "Webhook: New Restaurant Signup": {
      "main": [
        [
          {
            "node": "Validate & Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare Data": {
      "main": [
        [
          {
            "node": "Generate Google OAuth URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Google OAuth URL": {
      "main": [
        [
          {
            "node": "Create Restaurant Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Restaurant Record": {
      "main": [
        [
          {
            "node": "Is Pro Tier?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Pro Tier?": {
      "main": [
        [
          {
            "node": "Create Brand Voice Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Brand Voice Profile": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Build Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Welcome Email": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-27T00:00:00.000Z",
  "versionId": "1"
}
