workflows/archived/1-review-monitor-workflow.json
{
  "name": "1. Review Monitor (Weekly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1"
            }
          ]
        }
      },
      "id": "1",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "Every Monday at 6am"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "database",
        "operation": "getAll",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Restaurant Review AI"
        },
        "table": {
          "__rl": true,
          "value": "Restaurants",
          "mode": "list",
          "cachedResultName": "Restaurants"
        },
        "options": {
          "filterByFormula": "AND({subscription_status}='Active', {status}='Active')"
        }
      },
      "id": "2",
      "name": "Get Active Restaurants",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "3",
      "name": "Loop Each Restaurant",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "access_token",
              "name": "access_token",
              "value": "={{ $json.fields.google_access_token_encrypted }}",
              "type": "string"
            },
            {
              "id": "refresh_token",
              "name": "refresh_token",
              "value": "={{ $json.fields.google_refresh_token_encrypted }}",
              "type": "string"
            },
            {
              "id": "restaurant_id",
              "name": "restaurant_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "restaurant_name",
              "name": "restaurant_name",
              "value": "={{ $json.fields.restaurant_name }}",
              "type": "string"
            },
            {
              "id": "google_location_id",
              "name": "google_location_id",
              "value": "={{ $json.fields.google_business_profile_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Extract Restaurant Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "=https://mybusinessbusinessinformation.googleapis.com/v1/accounts/-/locations/{{ $json.google_location_id }}/reviews",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pageSize",
              "value": "50"
            },
            {
              "name": "orderBy",
              "value": "updateTime desc"
            }
          ]
        },
        "options": {}
      },
      "id": "5",
      "name": "Fetch Reviews from Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "credentials": {
        "googleOAuth2Api": {
          "id": "YOUR_GOOGLE_OAUTH_CREDENTIALS",
          "name": "Google OAuth2"
        }
      },
      "notes": "Uses Google My Business API to fetch reviews"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "spam_check",
              "leftValue": "={{ $json.reviewReply }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6",
      "name": "Filter Unanswered Reviews",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1250, 300],
      "notes": "Excludes reviews that already have responses"
    },
    {
      "parameters": {
        "jsCode": "// AI-based spam detection\nconst reviews = $input.all();\nconst cleanReviews = [];\n\nfor (const review of reviews) {\n  const text = review.json.comment || '';\n  const rating = parseInt(review.json.starRating?.replace('_STARS', '') || '0');\n  \n  // Simple spam heuristics\n  const isSpam = \n    text.length < 10 || // Too short\n    /http[s]?:\\/\\//.test(text) || // Contains URLs\n    /buy.*now|click.*here|viagra|casino/i.test(text) || // Spam keywords\n    (rating === 5 && text.length < 15); // Suspiciously short 5-star\n  \n  if (!isSpam) {\n    review.json.is_spam = false;\n    cleanReviews.push(review);\n  } else {\n    review.json.is_spam = true;\n  }\n}\n\nreturn cleanReviews;"
      },
      "id": "7",
      "name": "Spam Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300],
      "notes": "AI-powered spam filtering"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Reviews",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "restaurant_id": "={{ $('Extract Restaurant Data').item.json.restaurant_id }}",
            "google_review_id": "={{ $json.name }}",
            "reviewer_name": "={{ $json.reviewer.displayName }}",
            "star_rating": "={{ $json.starRating }}",
            "review_text": "={{ $json.comment }}",
            "review_date": "={{ $json.createTime }}",
            "retrieved_at": "={{ $now.toISO() }}",
            "is_spam": "={{ $json.is_spam }}",
            "is_answered": false,
            "response_generated": false,
            "response_posted": false
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {
          "bulkSize": 10
        }
      },
      "id": "8",
      "name": "Store New Reviews in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1650, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "http://YOUR_N8N_INSTANCE/webhook/generate-response",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "review_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "restaurant_id",
              "value": "={{ $('Extract Restaurant Data').item.json.restaurant_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9",
      "name": "Trigger Response Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 300],
      "notes": "Triggers workflow #2 for each new review"
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Get Active Restaurants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Restaurants": {
      "main": [
        [
          {
            "node": "Loop Each Restaurant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Restaurant": {
      "main": [
        [
          {
            "node": "Extract Restaurant Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Restaurant Data": {
      "main": [
        [
          {
            "node": "Fetch Reviews from Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reviews from Google": {
      "main": [
        [
          {
            "node": "Filter Unanswered Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unanswered Reviews": {
      "main": [
        [
          {
            "node": "Spam Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spam Detection": {
      "main": [
        [
          {
            "node": "Store New Reviews in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store New Reviews in Airtable": {
      "main": [
        [
          {
            "node": "Trigger Response Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-27T00:00:00.000Z",
  "versionId": "1"
}
